@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 75px;
  font-weight: bold;
  margin-top: -46px;
  font-family: sans-serif;
  color: #f44336;
  text-align: center;
}
p span {
  font-size: 50px;
  font-family: sans-serif;
  color: #ffbdad;
}

.calculator {
  border: 1px solid #717377;
  padding: 20px;
  background: #333;
  border-radius: 20px;
  box-shadow: inset 0 6px 1px 0 rgb(0, 0, 0, 0.35), 0 5px 5px rgba(0, 0, 0, 0.5),
    0 15px 25px rgba(0, 0, 0, 0.35);
}

input {
  width: 320px;
  border: none;
  padding: 24px;
  margin: 10px;
  background: transparent;
  font-size: 40px;
  text-align: right;
  cursor: pointer;
  color: #ffffff;
  background: #a7af7c;
  box-shadow: inset 0 6px 1px 0 rgb(0, 0, 0, 0.35), 0 5px 5px rgba(0, 0, 0, 0.5),
    0 15px 25px rgba(0, 0, 0, 0.35);
  user-select: none;
  border-radius: 20px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #ffffff;
}

button {
  border: none;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 20%;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  box-shadow: inset 0 6px 1px 0 rgb(0, 0, 0, 0.35), 0 5px 5px rgba(0, 0, 0, 0.5),
    0 15px 25px rgba(0, 0, 0, 0.35);
  user-select: none;
  cursor: pointer;
}
button:active {
  box-shadow: inset 0 2px 2px 0 rgb(0, 0, 0, 0.35),
    0 5px 15px rgba(0, 0, 0, 0.5), 0 15px 25px rgba(0, 0, 0, 0.35);
  color: #ffffff;
  text-shadow: 0 0 4px #219cf3, 2px 2px 8px #219cf3;
}

.equalBtn {
  background-color: #31a935;
}

.operator {
  background: #ff2972;
  color: darkblue;
}

.clear {
  background: #f44336;
}
.del {
  background: #ffbdad;
}

input[type='checkbox'] {
  visibility: hidden;
  display: none;
}

.check {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background: #092c3e;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

input[type='checkbox']:checked ~ .check {
  background: #ffffff;
  box-shadow: 0 0 0 1200px #092c3e;
}
